@import 'stylesheets/variables';
@import 'stylesheets/grid-system';
@import 'stylesheets/colors';
@import 'stylesheets/utils';
@import 'vue-components/add-button/style';
@import 'vue-components/socket-card/style';
@import 'vue-components/add-language-modal/add-language-modal';

body {
	background-color: $black;
	font-family: Montserrat;
}

.title {
	font-size: 72px;
	color: white;

	margin-bottom: 34px !important;

	& > #websocket-title {
		color: $blue;
		font-family: 'Abril Fatface';
	}
}

.blur {
	& > .flex-wrap, .title {
		-webkit-filter: blur(4px);
		-moz-filter: blur(4px);
		-o-filter: blur(4px);
		-ms-filter: blur(4px);
		filter: blur(4px);
	}
}

#buttons, #cards {
	display: inline-block;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media only screen and (min-width:580px) and (max-width:980px) {
	.title {
		font-size: 54px;
	}
}

@media only screen and (max-width:600px) {
	.title {
		font-size: 40px;
	}
}

// Importing font
@font-face {
	font-family: phosphate;
	src: url(fonts/Phosphate.ttf);
	font-weight: solid;
}