@import 'stylesheets/variables';
@import 'stylesheets/grid-system';
@import 'stylesheets/colors';
@import 'stylesheets/utils';
@import 'vue-components/add-button/style';
@import 'vue-components/socket-card/style';
@import 'vue-components/ace/style';

body {
	background-color: $black;
	font-family: Montserrat;
}

.title {
	font-size: 72px;
	color: white;

	margin-bottom: 44px !important;

	& > #websocket-title {
		color: $blue;
		font-family: 'Abril Fatface';
	}
}

#buttons, #cards {
	display: inline-block;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

// Importing font
@font-face {
	font-family: phosphate;
	src: url(fonts/Phosphate.ttf);
	font-weight: solid;
}