$light-blue: #2EDBFC;
$blue: #00D6FF;
$dark-blue: #0093AE;
$light-red: #FC6B45;
$red-gradient-start: #FB772A;
$red: #F34213;
$dark-red: #C02C05;
$light-green: #58A09D;
$green: #1D7874;
$dark-green: #0E615E;
$light-purple: #DD6ECC;
$purple: #CB48B7;
$dark-purple: #B929A2;
$light-orange: #FFA34E;
$orange: #FB8B24;
$dark-orange: #D46805;
$light-grey: #FAFAFA;
$middle-grey: #E4E4E4;
$grey: #9B9B9B;
$dark-grey: #6E6E6E;
$very-dark-grey: #4A4A4A;
$black: #212130;