//===========================================================================
//					SOCKET CARD RELATED CLASSES
//===========================================================================

//Font weight var
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

.socket-card {
	width: calc(100% - 50px);
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	margin-top: 33px;
	margin-bottom: 20px;

	background-color: $light-grey;

	& > .name {
		font-weight: $bold;
		font-size: 48px;
		position: relative;
		top: -33px;

		& > .delete-button {
			display: block;
			float: right;
		}

		& > .delete-button:hover {
			cursor: pointer !important;
		}
	}

	& > .close-button {
		font-weight: $bold;
		font-size: 18px;
		height: 0px;
	}

	& > .connexion {
		display: flex;
		justify-content: space-between;
		margin-top: -40px;
		margin-bottom: 5px;
		
		& > .address {
			display: inline-block;
			margin-top: 21px;
			margin-left: 10px;
			
			width: calc(100% - 202px);
			margin-right: 10px;

			& > .label {
				font-weight: $light;
				font-size: 12px;
				color: $black;
				margin-top: 5px;
			}

			& > .sub-protocol-label {
				margin-top: 5px;
			}

			& > input {
				width: 100%;
				color: $black;
				background-color: $light-grey;
				border: none;
				margin-bottom: 2px;
				border-bottom-style: solid;
			}

			& > .field {
				font-size: 18px;
				border-bottom-width: 2px;
			}

			& > .field-subprotocol {
				font-size: 14px;
				margin-top: 2px;
				border-bottom-width: 1px;
				border-color: $grey;
			}

			& > input:focus {
				outline: 0;
				margin-bottom: 6px;
			}
		}

		& > .socket-status {
			display: inline-block;

			& > .status {
				font-size: 16px;
				margin-bottom: 15px;
				font-weight: $light;

				& > .value {
					font-weight: $bold;
				}
			}

			& > .buttons {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;

				button {
					width: 96px;
					height: 36px;
					padding: 0;
					border-width: 1px;
					border-style: solid;
					margin: 0px 2.5px;

					font-size: 10px;
					font-family: Montserrat;
					font-weight: $regular;
					text-transform: uppercase;
				}

				button:disabled {
					box-shadow: none !important;
					color: $grey;
					border-image: none;
					border: 1px solid $grey;
					cursor: default !important;
				}

				button:hover {
					cursor: pointer;
					box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
				}

				button:focus {
					outline: 0;
				}
			}

			& > .use-tls {
				width: 100%;
				height: 40px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding-left: 12px;

				& > div > div {
					padding-bottom: 2px;

					& > .tls-checkbox {
						display: inline-block;
						width: 18px;
						position: relative;

						& > label {
							width: 100%;
							height: 100%;
							cursor: pointer;
							position: absolute;
							top: 0px;
							left: 0px;
							background: #eee;
							border: 1px solid #ddd;
						}

						& > label:after {
							opacity: 0.1;
							content: '';
							position: absolute;
							width: 9px;
							height: 5px;
							background: transparent;
							top: 4px;
							left: 3px;
							border: 3px solid #333;
							border-top: none;
							border-right: none;

							transform: rotate(-45deg);
						}

						& > label:hover::after {
							opacity: 0.5;
						}

						& > input[type=checkbox]:checked + label:after {
							opacity: 1;
						}
					}

					& > .checkbox-label {
						font-weight: $regular;
						font-size: 14px;
					}
				}
			}
		}
	}

	& > .message {
		margin: 15px 0px;
		width: 49%;
		display: inline-block;

		& > .flex-space-between{
			margin-left: 12px;
		}

		button {
			font-family: Montserrat;
			font-weight: $regular;
			font-size: 9px;
			text-transform: uppercase;

			border: none;
			background-color: transparent;
		}

		button:disabled {
			color: $grey;
		}

		button.clear-button {
			color: $dark-grey;
		}

		button:hover {
			cursor: pointer;
		}

		button:focus {
			outline: 0;
		}

		p.message-label {
			font-size: 22px;
			font-weight: $medium;
			color: $very-dark-grey;
			display: inline-block;
			margin: 0;
			z-index: 10;

			position: relative;

			-ms-transform: rotate(-90deg); /* IE 9 */
    		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    		transform: rotate(-90deg);
		}

		p.message-label-1 {
			top: 286px;
			left: -36px;
		}

		p.message-label-2 {
			top: 278px;
			left: -44px;
		}

		.editor {
			margin-left: 17px;
			margin-top: -28px;
			border: 1px solid $middle-grey;
			background-color: white;
			width: 94%;
			height: 345px;
			z-index: 0;
		}
	}
}